@use '@/modules/shared/styles/main.scss' as *;

.btn-circle {
  @include btn_circle();
  display: flex;

  &__content {
    @include Font-demi-bold(14px, 21px);
  }

  &--productCard {
    height: 40px;
  }

  &--footer {
    width: 32px;
    height: 32px;
  }
}