{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "bracketLine": false,
  "experimentalTernaries": false,
  "experimentalOperatorPosition": "end",
  "useTabs": true,
  "requirePragma": false,
  "endOfLine": "lf"
}
